
/* infor-book */
.main-content {
    background-color: #faf9ea;
}

.infor-book {
    display: flex;
    padding: 0px 100px;
    gap: 60px;
    margin: 40px 0px;
    padding-bottom: 80px;
}

.infor-book .img-book img {
    width: 350px;
    border-radius: 8px;
}
.infor-book .text-infor .name-book h1 {
    text-align: start;
    font-weight: 100;
    color: #074e8b;
    margin-bottom: 15px;
}
.infor-book .text-infor .content-infor .brand-book {
    color: #074e8b;
    margin-bottom: 15px;
}
.infor-book .text-infor .content-infor .price-book {
    display: flex;
    align-items: end;
    gap: 16px;
    margin-bottom: 20px;
}

.infor-book .text-infor .content-infor .price-book h1 {
    color: #074e8b;
}
.infor-book .text-infor .content-infor .price-book p {
    color: #acacac;
    text-decoration: line-through;
}
.infor-book .text-infor .content-infor .content-summary {
    text-align: justify;
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 70px;
    padding-right: 80px;
}
.infor-book .text-infor .content-infor .content-summary span {
    font-weight: 700;
}

.infor-book .text-infor .content-infor .btn-order button {
    color: white;
    background-color: #ca122f;
    border: none;
    width: max-content;
    padding: 16px 20px;
    font-weight: 700;
    cursor: pointer;
}
.infor-book .text-infor .content-infor .btn-order button:hover {
    background-color: #074e8b;
}

.btn-order .btn-buy-now{
    border-radius: 8px;
}

/* Modal overlay */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;              /* ẩn mặc định */
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    padding: 20px;
}

.modal-container.show {
    display: flex;
}

.modal {
    background: #faf9ea;
    padding: 24px;
    border-radius: 8px;
    width: 420px;
    max-width: 100%;
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}

.modal input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 12px;
    padding-top: 20px;
}

.btn-confirm {
    background: #ca122f;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancel {
    background: #ccc;
    color: #111;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}
