.bookmanage{
    display: flex;
    min-height: 100vh;
}

.main-content {
    background-color: #ca122f;
    flex: 1;
    padding: 100px 0; 
    min-height: 100vh;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
/* display: flex; */
flex-direction: column;
}

body {
flex-direction: column;
min-height: 100vh;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.sidebar{
    width: 300px;
    height: auto;
    background-color: #faf9ea;
    color: #111014;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.name-user{
    text-align: center;
    padding-top: 15px;
    i{
        font-size: 80px;
        padding-bottom: 15px;
    }
}

hr{
    margin-top: 20px;
}

.btn{
    padding: 15px 30px 15px 5px;
    background-color: #faf9ea;
    border: none;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    
}

.item-function{
    margin: 0px 20px;
    margin-bottom: 40px;
}

.content-right{
    width: 90%;
    height: auto;
    background-color: #faf9ea;
    border-radius: 10px;
    margin-left: 70px ;
    padding-bottom: 20px;
    position: relative;
}

.content1{
    background-color: #FFDE5C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}

.content2{
    padding-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    #book{
        border-radius: 10px;
        border: 2px solid black;
        padding: 16px 100px 16px 10px;
    }

    #submit{
        padding: 16px 15px;
        border-radius: 10px;
        border: none;
        background-color: #e2e0c5;
    }

    a.btn {
        padding: 10px 20px;
        background-color: #e2e0c5;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        border: none;
    }
}

table{
    width: 100%;
    text-align: center;
}

tr{
    height: 60px;
}

table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;

        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    }


.action{
    display: inline;
    /* margin-left: 10px; */
    input{
        border: none;
    }
}

.btn2{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #dbd4d4;
    margin-right: 10px ;
    .fa-pen{
        color: rgb(75, 75, 239);
    }

    .fa-trash{
        color: red;
    }
}

.btn-detail{
    background-color: #dbd4d4;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 5px ;

    .fa-info{
        color: black;
        text-decoration: none;
    }
}

.table{
    width: 100%;
    padding: 0 10px;
}

a:visited, button:visited{
    color: black;
}

a:active {
    color: #ca122f;
}

.box-detail {
  position: fixed; /* Sử dụng fixed để đảm bảo form luôn ở giữa màn hình */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: max-content;
  background-color: #faf9ea;
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000; /* Đảm bảo form nằm trên các phần tử khác */
}

.title-box-detail {
  margin-bottom: 12px;
}

.list-item .item {
  width: max-content;
  max-width: 100%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.list-item .item span {
  font-weight: 600;
}

.btn-cancel {
  display: flex;
  flex-direction: row-reverse;
}

.btn-cancel button {
  width: max-content;
  padding: 8px 12px;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}
