/*Phần header */
.nav-menu a {
    color: #faf9ea;
    text-decoration: 1px underline;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 100px;
    background-color: #111014;
    color: #faf9ea;
    font-size: 20px;
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}
