html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Phần header */
.nav-menu a {
    color: #faf9ea;
    text-decoration: 1px underline;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 100px;
    background-color: #111014;
    color: #faf9ea;
    font-size: 20px;
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}


.header .user-menu {
    background-color: #faf9ea;
    color: #111014;
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.user-menu .search-bar {
    min-height: 35px;
    font-size: 20px;
    border-radius: 6px;
    border: 1 solid #111014;
    outline: none;
    width: 600px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #fff;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.search-bar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.search-bar button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

/* Phần footer */
.footer {
    background-color: #faf9ea;
    color: #111014;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
}

footer .footer-container hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.3); 
    margin-bottom: 15px;
    width: 80%; 
}

footer p {
    margin: 5px 0;
    opacity: 0.8;
}

.bottom {
    list-style: none;
    display: flex;
    gap: 20px;
    background: #faf9ea;
    padding: 10px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.bottom p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bottom li {
    margin-top: 15px;
    margin-bottom: 20px;
}