.bookmanage{
    display: flex;
    height: max-content;
}

.main-content {
    background-color: #ca122f;
    flex: 1;
    padding: 100px 0; 
}

html, body {
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
/* display: flex; */
flex-direction: column;
}

body {
flex-direction: column;
min-height: 100vh;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

.sidebar{
    width: 300px;
    height: auto;
    background-color: #faf9ea;
    color: #111014;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.name-user{
    text-align: center;
    padding-top: 15px;
    i{
        font-size: 80px;
        padding-bottom: 15px;
    }
}

hr{
    margin-top: 20px;
}

.btn{
    padding: 15px 30px 15px 5px;
    background-color: #faf9ea;
    border: none;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    
}

.item-function{
    margin: 0px 20px;
    margin-bottom: 40px;
}

.content-right{
    width: 90%;
    height: auto;
    background-color: #faf9ea;
    border-radius: 10px;
    margin-left: 70px ;
    padding-bottom: 20px;
}

.content1{
    background-color: #FFDE5C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}

.content2{
    padding-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    #book{
        border-radius: 10px;
        border: 2px solid black;
        padding: 16px 100px 16px 10px;
    }

    #submit{
        padding: 16px 15px;
        border-radius: 10px;
        border: none;
        background-color: #e2e0c5;
    }

    a.btn {
        padding: 10px 20px;
        background-color: #e2e0c5;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        border: none;
    }
}

table{
    width: 100%;
    text-align: center;
}

tr{
    height: 60px;
}

table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;

        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    }


.action{
    display: inline;
    /* margin-left: 10px; */
    input{
        border: none;
    }
}

.btn2{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: #dbd4d4;
    margin-right: 10px ;
    .fa-pen{
        color: rgb(75, 75, 239);
    }

    .fa-trash{
        color: red;
    }

    .fa-info{
        color: black;
    }
}

.table{
    width: 100%;
    padding: 0 10px;
}

a:visited, button:visited{
    color: black;
}

a:active {
    color: #ca122f;
}

